# Source code
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Development files
.vscode/**
.vscode-test/**
test/**
.github/**

# Build artifacts
out/test/**
out/**/*.map

# Documentation
CHANGELOG.md
CONTRIBUTING.md 